html {
	height: 100vh;
}
body {
	background-color: #fff;
	font-family: Helvetica, Verdana, sans-serif;
	margin: 0 1em 0 1em;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
header {}
header nav {
	margin-bottom: 1em;
}
header nav ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
header nav ol li {
	display: inline;
	text-align: center;
	border-top: 2px solid #666;
	border-bottom: 2px solid #666;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	padding: .3em .5em .2em .5em;
}
header nav ol > li:first-child {
	border-left: 2px solid #666;
}
header nav ol > li:last-child {
	border-right: 2px solid #666;
}
header nav ol li:hover {
	background-color: #ddd;
}
header nav ol a {
	font-variant-caps: small-caps;
	text-decoration: none;
	font-weight: bold;
}
h1 {
	margin-top: 1em;
	margin-bottom: 1.25em;
	text-align: center;
}
h2 {
	background-color: #ddd;
	padding: .25em 0 .1em 0.25em;
}
main {
	flex-grow: 1;
}
section {}
section + section {
	margin-top: 2em;
}
.logo {
	vertical-align: middle;
	height: 2em;
}
.about {}
.usage {}
.copyright {
	font-size: small;
}
.topics {}
.subscriptions {}
.history img {
	width: 100%;
}
.external {
	background-image: url("external-link.svg");
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 13px;
}
.hidden {
	display: none;
}
.h-app img {
	vertical-align: middle;
}
.errors ul {
	border: 1px solid red;
}
.otp-key-qr svg {
	height: 30vh;
}
table {
	border: 0;
	width: 100%;
}
thead tr th {
	background-color: #ddd;
}
tbody tr:nth-child(even) td, tbody tr:nth-child(even) th {
	background-color: #eee;
}
tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {}
footer {
	text-align: center;
	width: 100%;
	border-top: 4px dotted #666;
}
footer ol {
	list-style-type: none;
	margin: .5em;
	padding: 0;
}
