* {}
html {
	height: 100vh;
}
body {
	background-color: #fff;
	font-family: Helvetica, Verdana, sans-serif;
	margin: 1em;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
header {}
header nav ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 1px solid #000;
}
header nav ol li a {
	display: block;
	width: 10em;
	text-align: center;
}
h1 {
	margin-top: 1.3em;
	margin-bottom: 2.5em;
	text-align: center;
}
h2 {
	background-color: #ddd;
}
main {
	flex-grow: 1;
}
section {}
.about {}
.usage {}
.topics {}
.subscriptions {}
.external {
	background-image: url("external-link.svg");
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 13px;
}
table {
	border: 0;
	width: 100%;
}
thead tr th {
	background-color: #ddd;
}
tbody tr:nth-child(even) td, tbody tr:nth-child(even) th {
	background-color: #eee;
}
tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {}
footer {
	text-align: center;
	width: 100%;
	border-top: 4px dotted #666;
}
footer nav ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 1px solid #000;
}
